<template name="login">
  <div id="login" class="ui sharp segment">
    {{#if error}}
      <div class="ui sharp small error message">
        {{error}}
      </div>
    {{/if}}
    <div class="ui sharp login-password form">

      <div class="field">
        <label> Email </label>
        <input type="text" autocapitalize="none" id='email' placeholder="Email">
      </div>
      <div class="field">
        <label> Password </label>
        <input type="password" id='password' placeholder="Password">
      </div>
      <div class="field">
        <button id="login-password" class="fluid primary push button"> Login </button>
      </div>
    </div>



    {{#if enabled.github}}
    <br>
    <button id="login-github" class="fluid sharp github push button"> Login with Github </button>
    {{/if}}

    {{#if enabled.facebook}}
    <br>
    <button id="login-facebook" class="fluid sharp facebook push button"> Login with Facebook</button>
    {{/if}}

    <div class="field">
        <!--<a href="/forgot" color="black"> <label> Forgot Password </label></a>-->
    </div>
  </div>
</template>
