<template name="announcer">
  <div class="ui sharp announcer segment">
    <div class="ui sharp form">
      <h4 class="ui sharp header">
        Create an Announcement
      </h4>
      <div class="field">
        <input id="a-header" type="text" name="header" placeholder="Header Text" requi sharpred>
      </div>
      <div class="field">
        <textarea id="a-content" name="content" placeholder="Announcement content" requi sharpred></textarea>
      </div>

      <div class="grouped inline fields">
        <div class="field">
          <div class="ui sharp radio checkbox">
            <input type="radio" value="default" name="type" checked="checked">
            <label>Default</label>
          </div>
        </div>
        <div class="field">
          <div class="ui sharp radio checkbox">
            <input type="radio" value="info" name="type">
            <label>Information</label>
          </div>
        </div>
        <div class="field">
          <div class="ui sharp radio checkbox">
            <input type="radio" value="warning" name="type">
            <label>Warning</label>
          </div>
        </div>
        <div class="field">
          <div class="ui sharp radio checkbox">
            <input type="radio" value="success" name="type">
            <label>Success</label>
          </div>
        </div>
        <div class="field">
          <div class="ui sharp radio checkbox">
            <input type="radio" value="error" name="type">
            <label>Danger</label>
          </div>
        </div>
      </div>

      <div class="field">
        <button class="submit disabled ui sharp blue button">
          Announce
        </button>
      </div>
    </div>
  </div>
</template>
