<template name="nav">
    {{#if currentUser }}
    <div id="nav">
        <div class="ui sharp secondary inverted menu">
            <a class="icon item" href="/">
                <i class="ui sharp home icon"></i>
            </a>

            {{#if userIs 'admin'}}
            <a class="icon item" href="/admin">
                <i class="ui sharp settings icon"></i>
            </a>
            {{/if}}

            <div class="right menu">
                {{> navSponsor }}
                {{> navMentor }}
                {{> navDash }}
                {{> navAccount }}
            </div>
        </div>
    </div>

    <div id="mobile-nav">
        <div class="ui sharp bottom fixed five item labeled icon menu">
            <a class="item" href="/">
                <i class="home icon"></i>
                Home
            </a>
            {{#if userIs 'mentor'}}
            <a class="item" href="/mentor">
                <i class="inbox icon"></i>
                Mentor
            </a>
            {{/if}}
            {{#if userIs 'sponsor'}}
            <a class="item" href="/sponsor">
                <i class="search icon"></i>
                Lookup
            </a>
            {{/if}}
            <a class="item" href="/dashboard">
                <i class="list icon"></i>
                Dashboard
            </a>
            <a class="item" href="/profile">
                <i class="child icon"></i>
                Profile
            </a>
            {{#if userIs 'admin'}}
            <a class="item" href="/admin">
                <i class="settings icon"></i>
                Settings
            </a>
            {{/if}}
        </div>
    </div>
    {{/if}}
</template>

<template name="navDash">
    <a class="icon item" href="/dashboard">
        <i class="ui sharp list icon"></i>
    </a>
</template>

<template name="navMentor">
    {{#if userIs 'mentor'}}
    <a class="icon item" href="/mentor">
        <i class="ui sharp inbox icon"></i>
        {{#if openTickets}}
        <div class="ui sharp tiny floating notification red label">
            {{ openTickets }}
        </div>
        {{/if}}
    </a>
    {{/if}}
</template>

<template name="navSponsor">
    {{#if userIs 'sponsor'}}
        <a class="icon item" href="/sponsor">
            <i class="ui sharp search icon"></i>
        </a>
    {{/if}}
</template>


<template name="navAccount">

    <div class="ui dropdown item">
   {{profile}}
        <div class="menu">
            <a class="item" href="/profile">Your Profile</a>
            <a class="item" id="logout">Logout</a>
        </div>
    </div>

</template>
