<template name="hackerSearch">
    <div class="ui sharp form " style="width: 100vw;">
        <div class="fields">
            <div class="sixteen wide field" style="width: 80vw;">
                <div class="ui sharp left icon fluid sharp input">
                    <i class="search icon"></i>
                    <input type="text" class="searchText" placeholder="Search..." value="{{searchText}}">
                </div>
            </div>
        </div>
    </div>
    <table class="ui sharp striped table userTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Github</th>
                <th>Resume</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <strong>
                        {{ profile.name }}
                    </strong>
                </td>
                <td>
                        {{ profile.email }}
                </td>

                <td>
                    {{ profile.phone }}
                </td>
                <td>
                    <a herf="{{profile.github_url}}">{{github}}</a>
                </td>
                <td>
                    {{#if resume}}
                        <span class="ui sharp tiny blue button download-resume">
                            <a href="https://hackillinois.org/download/resume/{{profile.resume}}" style="color:white">Download</a>
                        </span>
                    {{/if}}
                </td>
                <td class="right aligned collapsing">
                    <span class="ui sharp tiny button info-user">
                        More Info
                    </span>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="ui sharp info-user small modal">
    <i class="close icon"></i>
    <div class="header">
        More Information
    </div>
    <div class="content">
    </div>
</div>

</template>
