#banner {
  margin-bottom: 12px;
  #banner-logo{
    height: 150px;
    padding-bottom: 25px;
    padding-top: 30px;
    margin-top: -50px;
  }
  .content {
    @include logo-font();
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    text-align: center;
    padding: 1.4em 0 1.4em;
    a {
      color: white;
    }
  }
}
